.piece{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #171717;
    font-weight: 600;
    font-size: 20px;
    font-weight: 600;
    margin: 60px 170px;
    text-transform: capitalize;
}